/*Color variables*/
$primary-color:#0a2e4d;
$secondary-color: #1c3fa8;
$dark-color: #002240;
$light-color: #f4f4f4;
$text-dark:#333;
$text-white:#fff;
$github:#000000;
$facebook:#1773EA;
$instagram: #B32E87;
$twitter: #1C9CEA;