.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.jumbotron {
  background-color: #2e5373 !important;
  height: 20px !important;
  margin-top:2%;
  text-align: center;
  color:rgb(8, 27, 51);
}

.display-3 {
  font-size: 3rem !important;
  font-weight: 400 !important;
}

#cityLabel {
    color:rgb(8, 27, 51);
    font-size: large;
    font-weight: bold;
    margin-right:5px;
}

#submitBtn {
  background-color: rgb(91, 173, 91);
  border: none;
  margin-left:10px;
}

#submitBtn:hover {
  background-color: rgb(41, 110, 41);
  
}

#cityName {
  margin-top:10px;
  color:rgb(56, 114, 112) !important;
  text-transform: uppercase;
}

#first-name {
  color:rgb(56, 114, 112);
}

#first-name[label]{
  color:rgb(56, 114, 112);
}

body {
  background-color: #163a5a !important;
}

.card {
  margin-bottom: 15px !important;
  transition: all 0.3s ease-out;
}

.card:hover{
  background-color: rgb(110, 159, 208);
}

a {
  color: black !important;
}

a:hover {
  text-decoration: none !important;
  color: rgb(14, 37, 66) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
